.Chart {
    font-size: 1.35em;
	/*margin-top: 20px;*/
}

.Chart svg {
    font-family: 'Fira Sans Condensed';
}

.Chart svg text.annotation {
    transform: translate(0.1rem, -1.2rem);
    font-weight: 600;
    text-anchor: start !important;
}

.Chart svg path.tick-line {
    stroke: #ddd;
}

.Chart div.chart-title {
    height: 100px;
}

.Chart div.chart-title h3 {
    font-weight: 400;
    font-size: 1.8em;
    color: #444;
}

.Chart .fat-skinny {
    font-weight: 500;
    font-family: 'Fira Sans Condensed';
    font-size: 1.4em;
    color: #555;
}
