.Text {
    height: 150px;
    /*font-size: 1.1em;*/
}

@media (min-width: 720px) {
    .Text {
        height: 350px;
    }

    .Text .text-block {
        font-size: 1.0em;
    }
}

.Text h2 {
    font-size: 24px;
}

.Text h3 {
    font-size: 20px;
    font-weight: 300;
    color: #C6447E;
}

.Text .text-block {
    padding-top: 20px;
    font-size: 1.3em;
    color: #444;
    font-weight: 300;
}
