@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
$smallScreen: max-width 720px;
$bigScreen: 768px;

.Text {

    min-height: 180px;

    @include breakpoint($bigScreen) {
        height: 300px;
    }

    .text-block {
        padding: 200px 0;
        /*border: 1px solid #999;*/
        /*margin: 4px;*/
        color: #444;
        font-weight:400;
    }


    h2, h4 {
        font-weight: 700;
        color: #222;
        font-size: 1.4em;

        @include breakpoint($bigScreen) {
            font-size: 1.6em;
        }
    }

    h3 {
        font-weight: 200;
        color: #8c578c;
        font-size: 1.4em;

        @include breakpoint($bigScreen) {
            font-size: 1.6em;
        }
    }
}
