@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
$smallScreen: max-width 720px;
$bigScreen: 768px;

.App {
    .padded-grid {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .title {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    footer {
        margin-top: 20px;
    }

    @include breakpoint($smallScreen) {
        font-size: 12px;
    }
}
